h1{
  color:#f7a440;
  font-weight: 600;
  font-size: 60px;
}

h2{
  font-size: 50px;
}

h4{
  color:#f7a440;
}

span{
  font-size: 190%;
}

p{
  font-weight:300;
  font-size: 20px;
}

.top-container{
  background: url(aa.jpg) no-repeat center;
  background-size:100% 100%;
  font-family: 'Poppins', sans;
  padding:20px;
}

.mid1-container{
  padding:20px;

}

.mid2-container{
 background: url(aa.jpg) no-repeat center;
   padding:20px;
}

.bottom-container{

}
.about{
  padding-top: 5rem;
  line-height: 1;
  text-align: center;
}

.ab{
  font-size: 14px;
  padding-top: -30px;
}

.ab1{
  font-size: 14px;
  padding-top:15px;
  margin:auto;
  width:80%;
}

.ab2{
  font-size: 14px;
  padding-top:-10px;
  width:30%;
}

.ab3{
  font-size: 14px;
  width:40%;
  color:#150e56;
}

.syn{
  font-weight: 500;
  color:#eec4c4;
  text-align: left;
  width:50%;
  padding-top:10rem;
  margin-left:50px;
}

.image1{
  float:right;
  margin-top:250px;
  margin-right:100px;
}

.e1{
  font-size: 30px;
}

.b1{
    font-size: 30px;
}

.expert{
  float:left;
  width:40%;
}

.business{
  width:40%;
  float:left;
  padding-left:40px
}

.quote{
  text-align:left;
  clear:left;
  font-style: italic;
  color:#cc9b6d;
  background-color: #a7c5eb;
  width:600px;
  height: 100px;
}

.why{
  padding-top: 5rem;
  line-height: 1;
  text-align: center;
}

.w1{
 font-size:50px;
}

.w2{
  width:750px;
  margin:auto;
}

.w3{
  font-size: 25px;
}

.why2{
  float:left;
  width:300px;
  padding:120px;
}

.why6::after{
  padding-top: 40px;
  margin-top:40px;
}

.what{
  margin-top:40%;
  line-height: 1;
  text-align: center;
}

.what1{
  width:750px;
  margin:auto;
}

.what2{
  margin-top:50px;
}

.what3{
  color:#eec4c4;
  margin-top: 30px;
  text-align: center;
  border:outset;
  width:400px;
  height:350px;
  float:left;
  margin-left:100px;
}

.what4{
    color:#eec4c4;
  margin-top: 30px;
  text-align: center;
  border:outset;
  width:400px;
  height:350px;
  float:left;
  margin-left:150px;
}

.what5{
    color:#eec4c4;
  margin-top: 30px;
  text-align: center;
  border:outset;
  width:400px;
  height:350px;
  float:right;
  margin-right: 100px;
}

.images{
  margin-top:40%;
  width:750;
  height:300px;
  margin-left:150px;
}

.img1{
  padding:110px;
  float:left;
}

.img2{
  padding:110px;
  float:left;
}

.img3{
  padding:110px;
  float:left;
}

.img4{
  padding:110px;
  float:left;
}

.l1{
  margin-top:5%;
  line-height: 1;
  text-align: center;
}

.l2{
  margin-top:50px;
}

.l3{
  margin-top: 30px;
  text-align: center;
  border:outset;
  width:400px;
  height:500px;
  float:left;
  margin-left:100px;
}

.l4{
  margin-top: 30px;
  text-align: center;
  border:outset;
  width:400px;
  height:500px;
  float:left;
  margin-left:150px;
}

.l5{
  margin-top: 30px;
  text-align: center;
  border:outset;
  width:400px;
  height:500px;
  float:right;
  margin-right: 100px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #f0a500;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #4a47a3;
  text-decoration: none;
}

.end{
  margin-top:40%;
  width:auto;
  height:auto;

}

.ee1{
  width:25%;
  height:200px;
  float:left;
  background-color: #7579E7;
}
